name: docs
 
# execute this workflow automatically when a we push to master
on:
  push:
    branches: [ main ] # ⚠️ Renseigner le nom de votre branche principale
 
jobs:
 
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13 # ⚠️ Vérifier que la version python est conforme
 
      - name: Install dependencies
        run: |
          python -m pip install uv
          python -m uv pip install sphinx sphinx-rtd-theme sphinxcontrib-napoleon
          python -m uv pip install nbsphinx numpydoc
          python -m uv pip install ghp-import
          python -m uv pip install -r pyproject.toml
          python -m uv pip install .[git]

      - name: Generate the docs
        run: |
          sphinx-build docs/source docs/build -b html -q
        
      - name: Run ghp-import
        run: |
          ghp-import -n -p -f docs/build